DATABASE_URL="postgresql://[username]:[password]@localhost:5432/repvault" # Ez egy példa URL, ha docker használata esetén a helyes URL a Backend fejlesztői dokumentációban található
JWT_SECRET=VerySecretKey  # Ez egy titkos kulcs, sajátot is lehet generálni viszont nem szükséges tesztelés során
JWT_REFRESH_TOKEN_KEY=AnotherVerySecretKey # Ez egy titkos kulcs, sajátot is lehet generálni viszont nem szükséges tesztelés során